body {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px black;
  background: #23036a;
}

.modal-body {
  color: black;
  text-shadow: none;
}

button {
  background: #6200ee !important;
}
i {
  cursor: pointer;
}
#toastContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.toast {
  background-color: #000000;
  min-width: 300px;
  color: azure;
}